<div class="consultation-appointments">
    <header class="header">
      <div class="logo">
        <img src="/assets/logo.jpg" alt="Logo du Centre Médical" class="logo-img">
        <h1>Consultation des Rendez-vous - Patient</h1>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="home">Accueil</a></li>
          <li><a href="services">Nos services</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>
  
    <div class="consultation-appointments">
        <h2>Mes Rendez-vous de Consultation</h2>
        <!-- Ajoutez le contenu pour afficher les rendez-vous -->
      </div>
      
  
    <footer class="footer">
      <div class="footer-content">
        <p>&copy; 2024 Centre Médical - Tous droits réservés</p>
        <div class="footer-links">
          <a href="#">Mentions Légales</a>
          <a href="#">Politique de Confidentialité</a>
          <a href="#">Conditions Générales</a>
        </div>
      </div>
    </footer>
  </div>
  